body {background-color: #ffffff;}
div {color: blue;
        font-family: Georgia, serif;}

h1 {font-family: "Arial Black", Gadget, sans-serif;}
h2 {font-variant: small-caps;
      color:#3333fff;
		margin-bottom:  -10px;}

ul  {margin-top: -10px;
       margin-left: 3em;}